<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Restoran</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistracijaKuvaraServlet</display-name>
    <servlet-name>RegistracijaKuvaraServlet</servlet-name>
    <servlet-class>servleti.marko.RegistracijaKuvaraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaKuvaraServlet</servlet-name>
    <url-pattern>/RegistracijaKuvaraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistracijaKonobaraServlet</display-name>
    <servlet-name>RegistracijaKonobaraServlet</servlet-name>
    <servlet-class>servleti.marko.RegistracijaKonobaraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaKonobaraServlet</servlet-name>
    <url-pattern>/RegistracijaKonobaraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistracijaSankeraServlet</display-name>
    <servlet-name>RegistracijaSankeraServlet</servlet-name>
    <servlet-class>servleti.marko.RegistracijaSankeraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaSankeraServlet</servlet-name>
    <url-pattern>/RegistracijaSankeraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistracijaPonudjacaServlet</display-name>
    <servlet-name>RegistracijaPonudjacaServlet</servlet-name>
    <servlet-class>servleti.marko.RegistracijaPonudjacaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaPonudjacaServlet</servlet-name>
    <url-pattern>/RegistracijaPonudjacaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikazMenadzeraRestorana</display-name>
    <servlet-name>PrikazMenadzeraRestorana</servlet-name>
    <servlet-class>servleti.marko.PrikazMenadzeraRestorana</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PonudjacUpdateServlet</display-name>
    <servlet-name>PonudjacUpdateServlet</servlet-name>
    <servlet-class>servleti.marko.PonudjacUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PonudjacUpdateServlet</servlet-name>
    <url-pattern>/PonudjacUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PonudjacServlet</display-name>
    <servlet-name>PonudjacServlet</servlet-name>
    <servlet-class>servleti.marko.PonudjacServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PonudjacServlet</servlet-name>
    <url-pattern>/PonudjacServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PonudjacSacuvajServlet</display-name>
    <servlet-name>PonudjacSacuvajServlet</servlet-name>
    <servlet-class>servleti.marko.PonudjacSacuvajServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PonudjacSacuvajServlet</servlet-name>
    <url-pattern>/PonudjacSacuvajServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servleti.marko.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestoranNazivServlet</display-name>
    <servlet-name>RestoranNazivServlet</servlet-name>
    <servlet-class>servleti.marko.RestoranNazivServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestoranNazivServlet</servlet-name>
    <url-pattern>/RestoranNazivServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestoranNazivUpdate</display-name>
    <servlet-name>RestoranNazivUpdate</servlet-name>
    <servlet-class>servleti.marko.RestoranNazivUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestoranNazivUpdate</servlet-name>
    <url-pattern>/RestoranNazivUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestoranNazivSacuvaj</display-name>
    <servlet-name>RestoranNazivSacuvaj</servlet-name>
    <servlet-class>servleti.marko.RestoranNazivSacuvaj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestoranNazivSacuvaj</servlet-name>
    <url-pattern>/RestoranNazivSacuvaj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JelovnikAddServlet</display-name>
    <servlet-name>JelovnikAddServlet</servlet-name>
    <servlet-class>servleti.marko.JelovnikAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JelovnikAddServlet</servlet-name>
    <url-pattern>/JelovnikAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KartaPicaAddServlet</display-name>
    <servlet-name>KartaPicaAddServlet</servlet-name>
    <servlet-class>servleti.marko.KartaPicaAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KartaPicaAddServlet</servlet-name>
    <url-pattern>/KartaPicaAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JelovnikUpdateServlet</display-name>
    <servlet-name>JelovnikUpdateServlet</servlet-name>
    <servlet-class>servleti.marko.JelovnikUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JelovnikUpdateServlet</servlet-name>
    <url-pattern>/JelovnikUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KartaPicaUpdateServlet</display-name>
    <servlet-name>KartaPicaUpdateServlet</servlet-name>
    <servlet-class>servleti.marko.KartaPicaUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KartaPicaUpdateServlet</servlet-name>
    <url-pattern>/KartaPicaUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JelovnikDeleteServlet</display-name>
    <servlet-name>JelovnikDeleteServlet</servlet-name>
    <servlet-class>servleti.marko.JelovnikDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JelovnikDeleteServlet</servlet-name>
    <url-pattern>/JelovnikDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KartaPicaDeleteServlet</display-name>
    <servlet-name>KartaPicaDeleteServlet</servlet-name>
    <servlet-class>servleti.marko.KartaPicaDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KartaPicaDeleteServlet</servlet-name>
    <url-pattern>/KartaPicaDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PiceAddServlet</display-name>
    <servlet-name>PiceAddServlet</servlet-name>
    <servlet-class>servleti.marko.PiceAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PiceAddServlet</servlet-name>
    <url-pattern>/PiceAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JeloAddServlet</display-name>
    <servlet-name>JeloAddServlet</servlet-name>
    <servlet-class>servleti.marko.JeloAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JeloAddServlet</servlet-name>
    <url-pattern>/JeloAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPiceServlet</display-name>
    <servlet-name>AddPiceServlet</servlet-name>
    <servlet-class>servleti.marko.AddPiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPiceServlet</servlet-name>
    <url-pattern>/AddPiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KartaPicaSacuvaj</display-name>
    <servlet-name>KartaPicaSacuvaj</servlet-name>
    <servlet-class>servleti.marko.KartaPicaSacuvaj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KartaPicaSacuvaj</servlet-name>
    <url-pattern>/KartaPicaSacuvaj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JelovnikSacuvajServlet</display-name>
    <servlet-name>JelovnikSacuvajServlet</servlet-name>
    <servlet-class>servleti.marko.JelovnikSacuvajServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JelovnikSacuvajServlet</servlet-name>
    <url-pattern>/JelovnikSacuvajServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPonudaServlet</display-name>
    <servlet-name>AddPonudaServlet</servlet-name>
    <servlet-class>servleti.marko.AddPonudaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPonudaServlet</servlet-name>
    <url-pattern>/AddPonudaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NamirnicaSacuvajServlet</display-name>
    <servlet-name>NamirnicaSacuvajServlet</servlet-name>
    <servlet-class>servleti.marko.NamirnicaSacuvajServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NamirnicaSacuvajServlet</servlet-name>
    <url-pattern>/NamirnicaSacuvajServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SacuvajCenuServlet</display-name>
    <servlet-name>SacuvajCenuServlet</servlet-name>
    <servlet-class>servleti.marko.SacuvajCenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajCenuServlet</servlet-name>
    <url-pattern>/SacuvajCenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OcenaUsluge</display-name>
    <servlet-name>OcenaUsluge</servlet-name>
    <servlet-class>servleti.marko.OcenaUsluge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OcenaUsluge</servlet-name>
    <url-pattern>/OcenaUsluge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikazKonobara</display-name>
    <servlet-name>PrikazKonobara</servlet-name>
    <servlet-class>servleti.marko.PrikazKonobara</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikazKonobara</servlet-name>
    <url-pattern>/PrikazKonobara</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SacuvajOdabraneServlet</display-name>
    <servlet-name>SacuvajOdabraneServlet</servlet-name>
    <servlet-class>servleti.marko.SacuvajOdabraneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajOdabraneServlet</servlet-name>
    <url-pattern>/SacuvajOdabraneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SacuvajOdbijeneServlet</display-name>
    <servlet-name>SacuvajOdbijeneServlet</servlet-name>
    <servlet-class>servleti.marko.SacuvajOdbijeneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajOdbijeneServlet</servlet-name>
    <url-pattern>/SacuvajOdbijeneServlet</url-pattern>
  </servlet-mapping>
</web-app>