body{
	margin:0;
	padding:0;
}
input.centar{
	position:center;
	border:1px solid black;
	font-family:Arial;
	font-size:25px
}
div.field{
	padding-top: 60px; 
	margin:auto;
	height: 250px;
	width: 25%;
	padding: 10px;
	position: center
}
ul.navigationList {
	margin: 0;
	padding: 16;
	width: auto;
	list-style: none;
}
li.navigationItem{
 font-size: 17px;
 float: center;
 position: center;
 width: 200px;
 height: 40px;
 display: inline;
 margin: 80px	
}



	