body{
}

div.prvo{
	border:3px solid black;
	font-family:Arial;
	font-size:15px;
	margin:20px 50px 50px 50px;
}

div.drugo{
	font-family:Arial;
	font-size:20px;
	margin-top:-250px;
	margin-left:380px;
}

div.trece{
	font-family:Arial;
	font-size:20px;
	margin-top:250px;

}

td.tabela{
	padding:10px;
}

